
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{ 
    background-color: rgb(139, 32, 240);
}

#head{
    font-size: 35px;
}

.nav{
    margin-right: 30px; float: right; font-size: 25px; display: flex;
    
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    }

li a{
    text-decoration: none;
    display: block;
    font-size: 25px;
    color: #301775;
    padding: 14px 18px;
    font-weight: bold;
    display: inline-block;    
    }

img{
    border:2px solid black;
    margin-left: 30px;
}

.footer{
    text-align: center; font-size: 25px;
}

h2{
    padding-left: 250px;color:#ffffff;
    font-family:Satisfy;
}

h3{
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 30px;text-align: center; margin-left: 250px;

}

iframe{
    width: 800px;height: 400px;
}

h1{
    text-align: center;color:hsl(261, 95%, 29%);font-family:Satisfy;
    color:#e7f309;
}

p{
    padding-left: 20px;font-size: 25px;
}

h4{
    text-align: right; font-size: 20px;
}